#md-app {
  background-color: #525659;
  font-family: 'open sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-size: 14px;
  height: auto;
  display: flex;
}
/*Main.vue*/
.hover-color {
  background-color: rgb(255, 242, 206);
}

#text-zone {
  margin: 0 auto;
  text-align: left;
  padding: 70px 0 70px 0;
  max-width: 1000px;
}

#text-zone h1, #text-zone h2, #text-zone h3 {
  margin-bottom: 20px;
}

#text-zone h1, #text-zone h2, #text-zone h3, #text-zone h4 {
  cursor: pointer;
  position: relative;
}

#text-zone > .alert {
  position: fixed;
  width: 50%;
  left: 25%;
  right: -25%;
  z-index: 3000;
  text-align: center;
}

#text-zone p img {
  display: block;
  margin: 0 auto;
  font-size: 14px;
}

.page:nth-child(n+4) a {
  color: #f7931a!important;
}

.page {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(250, 251, 252);
  min-height: 1058px!important;
  padding: 45px 15px 0 15px;
  box-shadow: 0 0 20px #000;
  overflow: hidden;
  position: relative;
}

.page h1, .page h2, .page h3, .page h4 {
  font-family: "titillium web", Helvetica, Arial, sans-serif;
}

.page:not(:first-child) h3 {
  border-bottom: 0.5px solid #E7E9ED;
  font-size: 16px;
  font-weight: bolder;
}

.page h1 {
  font-weight: normal;
  font-size: 28px;
}

.page h2 {
  color: #5b5b5b;
  font-size: 22px;
}

.page:not(:first-child) h1 {
  color: #f7931a;
}

.page ul ~ li  {
  font-weight: bold;
}

.page > *:not(:first-child) {
  margin: 20px 80px 0 80px;
}

.page-number {
  font-family: "titillium web", Helvetica, Arial, sans-serif;;
  font-size: 20px;
  font-weight: bold;
  color: #f7931a;
  float: right;
  margin-bottom: 20px;
}

.page .navbar-default {
  background-color: rgb(255, 242, 206);
}

.page .navbar-default > * {
  padding: 15px 0 15px 0;
  font-size: 14px;
  margin: 0 60px 0 60px;
}

.page .navbar-default > *:first-child {
  font-family: 'titillium web', Helvetica, Arial, sans-serif;
}

.page .navbar-default > *:last-child {
  font-family: 'courier new', Helvetica, Arial, sans-serif;
}

.page-0 .jumbotron {
  background-color: transparent;
  padding: 4rem 0 80px 0;
  position: absolute;
  bottom: 0;
}

.page-0 .jumbotron > h1 {
  font-family: 'courier new', Helvetica, Arial, sans-serif;
}

.page-0 h1 {
  font-size: 36px;
  margin-bottom: 0!important;
}

.page-0 h3 {
  margin-bottom: 0!important;
  font-size: 18px;
  color: rgb(245, 146, 47);
  font-family: "open sans", Helvetica, Arial, sans-serif;
}

.page-0 h3 {
  margin-top: 0;
}

.page-2 ul {
  padding-left: 0;
  list-style: none;
}

.page-2 > ul > li > a {
  font-weight: bold;
  font-family: 'open sans', Helvetica, Arial, sans-serif;
}

.page-2 ul li > ul {
  padding-left: 20px;
}

.page-2 ul li > ul > li > ul {
  border-top: 1px solid #000;
  padding-left: 20px;
}

.page-2 ul li a {
  color: #000;
  display: flex;
  justify-content: space-between;
}

.social-zone {
  display: none;
  padding: 0 4px 0 4px;
  border-radius: 5px;
}

.social-zone > * {
  display: inline-block;
}

.social-zone .fa {
  width: inherit;
  height: inherit;
  text-align: center;
  border-radius: 5px;
  margin: 0;
  color: inherit!important;
}

.social-zone .fa:hover {
  cursor: pointer;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.text-center .alert {
  z-index: 10000;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  margin-top: 40px;
}

.footer-left > *, .footer-left > .resources > * {
  display: block;
}

.footer-left > .reddit {
  padding: 20px 0 20px 0;
}

.footer-left > .resources {
  font-size: 10px;
  text-decoration: underline;
}

strong > em {
  font-family: 'open sans', Helvetica, Arial, sans-serif;
  font-style: normal!important;
}

.page-footer {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  flex-grow: 1;
  justify-content: flex-end;
}

/*NavBar.vue*/
#top-nav.navbar {
  background-color: rgb(51, 55, 57);
  padding: 0!important;
}

#top-nav.navbar-brand {
  font-size: 14px!important;
}

#top-nav.fa {
  color: #ffffff!important;
}

#top-nav#nav_text_collapse .fa {
  cursor: pointer;
}

.page-num-tracker {
  text-align: right;
}
/*Footer.vue*/
#bottom-nav.navbar {
  padding: 0;
}
#bottom-nav.progress {
  width: 100%;
  display: flex;
  align-self: baseline;
  border-radius: 0;
}
#bottom-nav.fa-arrow-circle-up {
  position: absolute;
  right: 5px;
  bottom: 20px;
  font-size: 40px;
  cursor: pointer;
}
/*RightBar.vue*/
.right-bar {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.right-bar button {
  background-color: rgb(242, 242, 242)!important;
  border: none!important;
  color: rgb(114, 114, 114)!important;
  border-radius: 50%!important;
  height: 40px!important;
  width: 40px!important;
  margin-top: 10px!important;
  cursor: pointer;
}
/*Social.vue*/
